.App {
  text-align: left;
  color: #ffffff;
  background-color: #1B3440;
  height: 100%;
  height: 800px;
  padding: 30px;
}

.App-column-left {
  width: 50%;
  float: left;
}

.App-column-right {
  width: 50%;
  float: left;
}

h1 {
  margin-top: 0;
  font-weight: 300;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: #274654;
}

.App input {
  display: inline;
  margin-top: 10px;
  background-color: #274654;
  padding: 50px 40px;
  color: #ffffff;
  border: none;
  padding-left: 40px;
  width: 72%;
  font-size: 38px;
}

.App input::-webkit-input-placeholder {
  color: #ffffff;
}

.App select {
  border: none;
  width: 88.5%;
  color: #ffffff;
  background-color: #386378;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  display: block;
}

.App-column-left-currency {
  color: #ffffff;
  opacity: 0.5;
  display: inline;
  position: absolute;
  top: 246px;
  left: 512px;
  font-size: 20px;
}

.App-column-right-currency {
  color: #ffffff;
  opacity: 0.5;
  display: inline;
  position: absolute;
  top: 246px;
  left: 40px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
